<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

 	<filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>Set Character Encoding</filter-name>
  		<url-pattern>/*</url-pattern>
 	</filter-mapping>

	<filter>
		<filter-name>SparkFilter</filter-name>
		<filter-class>spark.servlet.SparkFilter</filter-class>
		<init-param>
			<param-name>applicationClass</param-name>
			<param-value>main.Main</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>SparkFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	

	<context-param>
		<param-name>webAppRootKey</param-name> 
		<param-value>projectName.root</param-value> 
	</context-param>
 	<session-config>
  		<session-timeout>360</session-timeout>
 	</session-config>	

	<error-page>
        <error-code>404</error-code>
        <location>/errors/404.html</location>
	</error-page>
</web-app>